<div class="card h-100" style="">
  <%= image_tag @tweet.first_media_url, class: "card-img-top", style: "height: 300px; object-fit: cover;" %>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title"><%= @name %></h5>
    <p class="card-text"><%= @tweet.body %></p>

    <div class="mt-auto">
      <% if @tweet.classification %>
        <%= render(ClassificationResultComponent.new(@tweet)) %>
      <% else %>
        <%= render(ActionButtonComponent.new(tweet: @tweet) ) %>
      <% end %>
    </div>
  </div>
</div>
