<div class="card h-100 shadow-sm" style="">
  <!-- FIXME: 画像が無い場合にはプレースホルダを表示する -->
  <% if @tweet.first_media_url %>
    <%= image_tag @tweet.first_media_url, class: "card-img-top", style: "height: 300px; object-fit: cover;" %>
  <% end %>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title"><%= @tweet.user.name %></h5>
    <p class="card-text"><small class="text-muted"><%= @tweet.original_created_at.strftime("%Y/%m/%d %H:%M") %></small></p>
    <p class="card-text"><%= @tweet.body %></p>

    <div class="mt-auto">
      <p class="text-end mb-4"><small>
        <%= link_to tweet_url(@tweet), class: "text-decoration-none", data: { turbo_frame: "_top" } do %>
          <i class="bi bi-card-list"></i>&nbsp;詳細を見る
        <% end %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="text-decoration-none" href="<%= @tweet.url %>" target="_blank"><i class="bi bi-twitter"></i>&nbsp;Twitterで見る&nbsp;<i class="bi bi-box-arrow-up-right"></i>
      </small></a></p>
      <% if @tweet.classified? %>
        <%= render(ClassificationResultComponent.new(@tweet)) %>
      <% else %>
        <%= render(ActionButtonComponent.new(tweet: @tweet) ) %>
      <% end %>
    </div>
  </div>
</div>
