<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-3">
    <%= form.label :a_classification, class: "form-label" %>
    <%= form.select :a_classification, options_for_select([["スレミオ", "sulemio"], ["not ｽﾚﾐｵ", "notsulemio"]]), {}, { class: "form-select" } %>
  </div>

  <div class="mt-4">
    <%= link_to "キャンセル", @tweet, class: "btn btn-secondary" %>
    <%= form.submit "保存", class: "btn btn-primary" %>
  </div>
<% end %>
