<div class="col">
  <div class="card shadow-sm">
    <div class="card-body">
      <blockquote class="twitter-tweet">
        <%= link_to tweet.t_id, tweet.url %>
      </blockquote>
      <%= form_with(model: tweet, class: "d-flex gap-2") do |form| %>
        <%= form.button :classification,
          value: Tweet::Classification::SULEMIO,
          class: "btn btn-primary w-100" do %>
         スレミオ
        <% end %>
        <%= form.button :classification,
          value: Tweet::Classification::SULETTA,
          class: "btn btn-danger w-100" do %>
         スレッタ
        <% end %>
        <%= form.button :classification,
          value: Tweet::Classification::MIORINE,
          class: "btn btn-success w-100" do %>
         ミオリネ
        <% end %>
        <%= form.button :classification,
          value: Tweet::Classification::OTHER,
          class: "btn btn-secondary w-100" do %>
          他
        <% end %>
      <% end %>
    </div>
  </div>
</div>
