<% if @scope == "classified_with_sulemio_photo" %>
  <h1 class="mt-4 mb-3">スレミオ&#x1f99d;&#x1f345;の画像投稿</h1>
  <p>みんなでスレミオだと判断した画像ツィートです</p>
<% elsif @scope == "pre_classified_with_sulemio_photo" %>
  <h1 class="mt-4 mb-3">スレミオ&#x1f99d;&#x1f345;の画像投稿（AIによる仮判断）</h1>
  <p>意思拡張AIが<b>スレミオだ</b>と判断した画像ツィートです。<br>
  判断結果があっていたら「スレミオ」を、間違っていたら「Not ｽﾚﾐｵ」を押して正解を教えてあげてください。</p>
<% elsif @scope == "pre_classified_with_notsulemio_photo" %>
  <h1 class="mt-4 mb-3">&#x1f99d;スレミオではない&#x1f345;画像投稿（AIによる仮判断）</h1>
  <p>意思拡張AIが<b>スレミオではない</b>と判断した画像ツィートです。<br>
  判断結果があっていたら「スレミオ」を、間違っていたら「Not ｽﾚﾐｵ」を押して正解を教えてあげてください。</p>
<% elsif @scope == "suletta" %>
  <h1 class="mt-4 mb-3">スレッタ&#x1f99d;の画像投稿</h1>
  <p>みんなでスレッタだと判断した画像ツィートです</p>
<% elsif @scope == "miorine" %>
  <h1 class="mt-4 mb-3">ミオリネ&#x1f345;の画像投稿</h1>
  <p>みんなでミオリネだと判断した画像ツィートです</p>
<% elsif @scope == "with_photo" %>
  <h1 class="mt-4 mb-3">全ての画像</h1>
  <p>収集済みの全ての画像ツィートです</p>
<% end %>

<!-- FIXME: SQLチューニングして速くするの簡単じゃないかも？キャッシュかLazy Loadingを検討する -->
<!-- FIXME: countがスロークエリなのを簡単に解決できそうにないので, いちばん遅いうえにあまり意味のないscopeでcountしないようにしてる -->
<% unless @scope == "pre_classified_with_sulemio_photo" %>
  <p><%= @tweets.total_count %> ツィート</p>
<% end %>

<%= turbo_frame_tag "page_handler" %>
<div id="tweets"
     class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 mb-5"
     data-controller="pagination"
     data-action="scroll@document->pagination#scroll"
     data-pagination-url-value="<%= tweets_path %>"
     data-pagination-scope-value="<%= @scope %>"
     data-pagination-start-time-value="<%= @start_time %>"
     data-pagination-end-time-value="<%= @end_time %>"
     data-pagination-page-value="<%= @tweets.next_page %>" >
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</div>
<%= turbo_frame_tag("next_page_button") do %>
  <%= link_to "もっと！", path_to_next_page(@tweets), class: "btn btn-primary", data: { turbo_frame: "page_handler" } %>
<% end %>
