<% if @classification %>
  <% if @classification == Tweet::Classification::SULEMIO %>
    <h1 class="mt-4 mb-3">スレミオの絵</h1>
    <!-- <p class="lead">スレミオ判別済みの絵</p> -->
  <% else %>
    <h1 class="mt-4 mb-3">スレミオ以外の絵</h1>
  <% end %>
<% else %>
  <h1 class="mt-4 mb-3">未分類の絵</h1>
<% end %>

<p><%= @tweets.total_count %> のツィート</p>

<%= turbo_frame_tag "page_handler" %>
<div id="tweets"
     class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3 mb-5"
     data-controller="pagination"
     data-pagination-url-value="<%= tweets_path %>"
     data-pagination-classification-value="<%= @classification %>"
     data-pagination-page-value="<%= @tweets.next_page %>" >
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</div>
<%= turbo_frame_tag("next_page_button") do %>
  <%= link_to "もっと！", path_to_next_page(@tweets), class: "btn btn-primary", data: { turbo_frame: "page_handler" } %>
<% end %>
