<%= form_with(model: credential) do |form| %>
  <% if credential.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(credential.errors.count, "error") %> prohibited this credential from being saved:</h2>

      <ul>
        <% credential.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :token, style: "display: block" %>
    <%= form.text_field :token %>
  </div>

  <div>
    <%= form.label :expires_at, style: "display: block" %>
    <%= form.number_field :expires_at %>
  </div>

  <div>
    <%= form.label :expires, style: "display: block" %>
    <%= form.check_box :expires %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
