<p style="color: green"><%= notice %></p>

<%= render @credential %>

<div>
  <%= link_to "Edit this credential", edit_credential_path(@credential) %> |
  <%= link_to "Back to credentials", credentials_path %>

  <%= button_to "Destroy this credential", @credential, method: :delete %>
</div>
