<!-- https://getbootstrap.com/docs/5.2/examples/sticky-footer-navbar/ -->
<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Favrial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <style>
main > .container {
  padding: 60px 15px 0;
}
    </style>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <%= render(NavBarComponent.new(@current_user || nil)) %>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="footer mt-5 py-3 bg-light">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

  </body>
</html>
