<!-- https://getbootstrap.com/docs/5.2/examples/sticky-footer-navbar/ -->
<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Favrial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <style>
main > .container {
  padding: 60px 15px 0;
}
    </style>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Favrial</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <!--<li class="nav-item">
                <%= link_to "絵", tweets_path, {class: "nav-link active"} %>
              </li>-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  絵
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/tweets?classification=sulemio">スレミオ</a></li>
                  <li><a class="dropdown-item" href="/tweets?classification=other">スレミオ以外</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/tweets">未分類</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <%= link_to "ネタ", tweets_path, {class: "nav-link"} %>
              </li>
              <li class="nav-item">
                <%= link_to "ツィートを追加", new_tweet_path, {class: "nav-link"} %>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="検索" aria-label="検索">
              <button class="btn btn-outline-success text-nowrap" type="submit">検索</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="footer mt-5 py-3 bg-light">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

  </body>
</html>
